---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <div class="box">
      <h1>Thank you!</h1>
      <p>Go back <a href="/">Home</a></p>
    </div>
  </main>
</Layout>

<style>
  main {
    text-align: center;
  }
</style>
