---
import ContactFormInput from './ContactFormInput.vue';
---

<form method="post" action="/contact" class="contact-form box">
  <div class="field-group">
    <ContactFormInput
      client:only="vue"
      id="first-name"
      name="firstName"
      label="First Name"
      required
      autocomplete="first-name"
    />

    <ContactFormInput
      client:only="vue"
      id="last-name"
      name="lastName"
      label="Last Name"
      required
      autocomplete="last-name"
    />
  </div>

  <ContactFormInput
    client:only="vue"
    id="work-email"
    name="email"
    label="Work Email"
    required
    autocomplete="email"
    type="email"
  />

  <ContactFormInput
    client:only="vue"
    id="message"
    name="message"
    label="Message"
    required
    type="textarea"
    autocomplete="message"
  />

  <p class="mute">
    For information about our privacy practices and commitment to protecting
    your privacy, please review our <a href="#">Privacy Policy.</a>
  </p>

  <button type="submit">Send Message</button>
</form>

<style>
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .contact-form button {
    align-self: flex-start;
  }

  @media screen and (max-width: 768px) {
    .contact-form {
      width: 100%;
      border-radius: 0;
      height: 100dvh;
      box-sizing: border-box;
    }
  }
</style>
