/* Form elements */
button {
    display: inline-block;
    color: white;
    background: var(--color--cta);
    border: 0;
    box-shadow:
        0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    font-size: 16px;
    font-weight: 500;
    padding: .575em 1.3em;
    line-height: 1.5;
}

button:hover {
    color: rgb(230, 230, 230);
    box-shadow: none;
}

input,
textarea {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    border-radius: inherit;
    border: none;
    padding: 1rem;
}

input::placeholder,
textarea::placeholder {
    color: var(--color--mute);
    font-weight: 300;
}

label {
    display: inline-block;
    margin-bottom: 10px;
    color: currentColor;
    line-height: 1.25;
}