/* Variables */
:root {
    --font-family: Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans';
    --font-size: 14px;
    --color--text: black;
    --color--bg: white;
    --color--cta: #73467B;
    --color--mute: #74777E;
    --color--success: #00B3B0;
    --color--error: rgb(176, 34, 117);
    --border-radius: 4px;
    --border-color: #dbdcdd;
}