/* Variables */
:root {
    --font-family: Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans';
    --color--text: black;
    --color--bg: white;
    --color--cta: #73467B;
    --color--mute: #74777E;
    --color--success: #00B3B0;
    --border-radius: 8px;
    --border-color: var(--color-mute);
}